{% extends 'basic.html' %}

{% block nav %}

    <h3 style="text-align: center"> Login panel </h3>

{% endblock %}


{% block content %}

    <style type="text/css" scoped>

    /******************************

            LOGIN - STYLE

    *******************************/


    .login_container{
        padding-top: 20px;
        text-align: center;
    }


    </style>

    <form class="login_container" method="POST"> {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Login" class="btn-primary"/>
    </form>

{% endblock %}