{% extends 'basic.html' %}

{% block title %}
    <title>Baza danych próbek</title>

    <style>

        #wrapper-logged{
            width: 80vw;
            padding: 2vw;
            background-color: #c8d4ff;
            margin: 100px auto auto;
            text-align: center;
            border-radius: 20px;
            -webkit-box-shadow: 4px 7px 15px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 4px 7px 15px 0px rgba(0,0,0,0.75);
            box-shadow: 4px 7px 15px 0px rgba(0,0,0,0.75);
        }

        .main-button{
            transition: 0.4s;
            width: max-content;
            margin: auto auto 5vh;
            border-radius: 15px;
            padding: 15px;
            font-size: 28px;
            background-color: #b2b2ff;
            -webkit-box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.75);
            box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.75);
        }

        .main-button:hover{
            background-color: #8e90ff;
            transition: 0.4s;
            cursor: pointer;
        }

    </style>
{% endblock %}

{% block nav %}

    <h3 style="text-align: center"> Operacje na dodatkowych danych </h3>

{% endblock %}

{% block content %}
    {% if user.must_change_password == False %}
        <section id="wrapper-logged">
            <div class="main-button" onclick="location.href = 'control_type'">
                <p>Operacje na formularzu: Typy kontroli</p>
            </div>
            <div class="main-button" onclick="location.href = 'Delivery_way'">
                <p>Operacje na formularzu: Sposób dostarczenia </p>
            </div>
            <div class="main-button" onclick="location.href = 'Metod_and_norm'">
                <p>Operacje na formularzu: Metody i normy dostarczenia </p>
            </div>
            <div class="main-button" onclick="location.href = 'Research_status'">
                <p>Operacje na formularzu: Status badań </p>
            </div>
            <div class="main-button" onclick="location.href = 'Type'">
            <p>Operacje na formularzu: Typ badań </p>
            </div>
            <div class="main-button" onclick="location.href = 'Wijhars'">
                <p>Operacje na formularzu: Wijhars</p>
            </div>
        </section>
    {% else %}
        <script type="text/javascript">
            window.location.href = "account/password_change/";
        </script>
    {% endif %}


{% endblock %}