{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/basic.css' %}">
</head>
<body>

    <nav id="main-nav">

        {% if user.is_authenticated %}
            <p id="user-name" class="badge badge-primary">{{  user.username }}</p>
            <button id="login-button" class="btn-primary" onclick="location.href = 'http://127.0.0.1:8000/accounts/logout'">Logout</button>
            <button id="login-button2" class="btn-primary" onclick="location.href = 'http://127.0.0.1:8000/'"> Home </button>
        {% else %}
            <button id="login-button" class="btn-primary" onclick="location.href = 'http://127.0.0.1:8000/accounts/login';">Login</button>
        {% endif %}
        {% block nav %}

        {% endblock %}
    </nav>
    <div id="main-block">
        {% block content %}

        {% endblock %}
    </div>

    {% if not user.is_authenticated %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
</body>
</html>