{% extends 'basic.html' %}

{% block title %}
    <title>Baza danych próbek</title>

    <style>
        #wrapper{
            width: 80vw;
            padding: 2vw;
            background-color: #c8d4ff;
            margin: 100px auto auto;
            text-align: center;
            border-radius: 20px;
            -webkit-box-shadow: 4px 7px 15px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 4px 7px 15px 0px rgba(0,0,0,0.75);
            box-shadow: 4px 7px 15px 0px rgba(0,0,0,0.75);
        }
    </style>
{% endblock %}

{% block nav %}

    <h3 style="text-align: center"> Zmiana hasła </h3>

{% endblock %}

{% block content %}
    <div id="wrapper">

        <form method="POST">
            {% csrf_token %}
            <label for="old_password"> Twoje dotychczasowe hasło </label>
            <input id="old_password" type="password" name="old_password">
            </br>
            </br>
            <label for="new_password_1"> Podaj nowe hasło </label>
            <input id="new_password_1" type="password" name="new_password_1" >
            </br>
            </br>
            <label for="new_password_2"> Potwierdź swoje nowe hasło </label>
            <input id="new_password_2" type="password" name="new_password_2">
            </br>
            </br>
            <input type="submit" value="Zmień hasło">

        </form>

        </br>
        </br>

        {% for val in error %}
            {{ val|linebreaks  }}
        {% endfor %}

    </div>


{% endblock %}