{% extends 'basic.html' %}

{% block title %}
    <title>Baza danych próbek</title>

    <style>

        #wrapper-logged{
            width: 80vw;
            padding: 2vw;
            background-color: #c8d4ff;
            margin: 100px auto auto;
            text-align: center;
            border-radius: 20px;
            -webkit-box-shadow: 4px 7px 15px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 4px 7px 15px 0px rgba(0,0,0,0.75);
            box-shadow: 4px 7px 15px 0px rgba(0,0,0,0.75);
        }

        .main-button{
            transition: 0.4s;
            width: max-content;
            margin: auto auto 5vh;
            border-radius: 15px;
            padding: 15px;
            font-size: 28px;
            background-color: #b2b2ff;
            -webkit-box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.75);
            box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.75);
        }

        .main-button:hover{
            background-color: #8e90ff;
            transition: 0.4s;
            cursor: pointer;
        }

    </style>
{% endblock %}

{% block nav %}

    <h3 style="text-align: center"> Strona Główna </h3>

{% endblock %}

{% block content %}

    <section id="wrapper-logged">
        <div class="main-button" onclick="location.href = 'sample_add'">
            <p>Operacje na próbkach</p>
        </div>
        <div class="main-button" onclick="location.href = 'research_add'">
            <p>Operacje na badaniach</p>
        </div>
        <div class="main-button">
            <p>Edytuj pozostałe dane</p>
        </div>
        <div class="main-button">
            <p>Generuj Raporty</p>
        </div>
        <div class="main-button">
            <p>Dodaj Użytkownika</p>
        </div>
    </section>


{% endblock %}