{% extends 'basic.html' %}

{% block title %}
    <title>dodaj próbkę</title>
    <style>
        .form-part-desc{
            font-size: 26px;
        }

        #sample-form{
            width: 65vw;
            padding: 2vw;
            background-color: #c8d4ff;
            margin: 100px auto auto;
            text-align: center;
            border-radius: 20px;
            -webkit-box-shadow: 4px 7px 15px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 4px 7px 15px 0px rgba(0,0,0,0.75);
            box-shadow: 4px 7px 15px 0px rgba(0,0,0,0.75);
        }

    .sample-field-wrapper{
        margin: 15px 15px 30px 15px;
        display: block;
        width: 220px;
    }

    .sample-field-wrapper-form2{
        margin: 15px 15px 30px 20%;
        display: block;
        width: 220px;
    }

    .sample-field-wrapper > *, .sample-field-wrapper-form2 > *{
        text-align: left;
        display: block;
        width: 100%;
    }

    textarea{
        max-height: 70px;
    }

    #sample-dates-form > *{
        display: inline-block;
    }

    #sample-dates-form{
        border-top: #2b29ff 1px solid;
        border-bottom: #2b29ff 1px solid;
    }

    @media(max-width: 870px){
        #divider-form1-inner{
            width: 0px;
        }
    }

    @media(min-width: 871px){
        #divider-form1-inner{
            width: 1px;
            height: 280px;
            display: inline-block;
            background-color: #2b29ff;
        }
        .form1-last-part-inner{
            display: inline-block;
        }
    }


    #divider{
        width: 90%;
        height: 3px;
        background-color: #2b29ff;
        margin: 30px auto 30px auto;
    }

    .form-part-title{
        margin-top: 20px;
        text-align: left;
        margin-left: 20%;
        font-size: 20px;
    }

    .form-inner-wrapper > * > *{
        display: inline-block;
    }

    .form-inner-wrapper > *{
        display: inline-block;
    }

    .form-inner-wrapper > #bordered-div{
        border-bottom: #2b29ff 1px solid;
    }

     #errors *{
        list-style: none;
        text-align: left;
        color: red;
        font-size: 20px;
    }

     #beautiful_text{
        text-align: center;
        font-size: 20px;
        padding: 30px;
        color: red;
    }

    </style>
{% endblock %}


{% block content %}
{% if "samples.can_operate_on_Research" in perms %}

<section id="sample-form">
    <form id="add_sample" class="login_container" method="POST" action=""> {% csrf_token %}


        <div class="form-part-desc"> 0. Wybór trybu </div>
        <div class="sample-field-wrapper" onchange="mode_change()">
            <label for="{{ form0.mode_name.id_for_label }}" > {{ form0.mode_name.label }} </label>
            {{ form0.mode_name }}
        </div>
        <div class="sample-field-wrapper" id="find-research">
            <label for="{{ form3.research_name.id_for_label }}"> {{ form3.research_name.label }} </label>
            {{ form3.research_name }}
        </div>
        <input type="reset" name="reset" onclick="resetForm()" value="Resetuj formularz" class="btn-primary submit-button">

        <script>
            window.onload = function(){
                mode_change();
                setSubmitButtonText();
                document.getElementById("id_mode_name").addEventListener("change", () => {
                    setSubmitButtonText();
                });
                document.getElementById("find-research").addEventListener("change", () => {
                    getData();
                })
            }

            function getData() {
                if(document.getElementById("id_mode_name").value !== "Add") {
                    let csrfValue = document.getElementsByName("csrfmiddlewaretoken")[0].value;
                    console.log(document.getElementById("id_name").value)
                    fetch("/research_add/", {
                        method: "Post",
                        headers: {
                            "X-CSRFToken": csrfValue,
                            "X-Requested-With": "XMLHttpRequest",
                        },
                        body: document.getElementById("id_research_name").value

                    }).then(function (response) {
                        return response.json();
                    }).then(function (data) {
                        for (var x in data) {
                            console.log(x + " : " + data[x])
                            if (document.getElementById("id_" + x))
                                document.getElementById("id_" + x).value = data[x];
                        }
                        document.getElementById("id_summary_meet_requirements").checked = data["summary_meet_requirements"];
                    }).catch((error) => {
                        console.error("Error", error);
                    })
                }
            }

            function mode_change(){
                var text = document.getElementById("id_mode_name").value;
                console.log(text)
                if(text === "Add"){
                    document.getElementById("find-research").style.display = "none";
                }
                else {
                    document.getElementById("find-research").style.display = "block";
                }
            }


            function setSubmitButtonText() {
                let text = document.getElementById("id_mode_name").value;
                if(text == "Add"){
                    document.getElementById("submit-button").value = "Dodaj";
                    document.getElementById("add_sample").setAttribute("onsubmit", "return")

                }
                else if(text == "Edit"){
                    document.getElementById("submit-button").value = "Modyfikuj";
                    document.getElementById("add_sample").setAttribute("onsubmit", "return confirm('Uwaga! modyfikując to badanie zmieniasz je w bazie bezpowrotnie. Czy chcesz kontynuować?')")
                }
                else{
                    document.getElementById("submit-button").value = "Usuń";
                    document.getElementById("add_sample").setAttribute("onsubmit", "return confirm('Uwaga! Usuwanie danych z bazy jest bezpowrotne. Czy chcesz kontynuować?')")

                }
            }

            function resetForm() {
                document.getElementById("get_data_to_form").style.display = "none";
                document.getElementById("submit-button").value = "Dodaj";
                document.getElementById("find-research").style.display = "none";
            }

            {% if messages %}
                alert("Wystąpiły błędy przy wypełnianiu formularza. Informacje będą podane na górze formularza")
            {% endif %}

            {% if action == 'Add' %}
                alert("Dodano badanie")
            {% elif action == 'Edit' %}
                alert("Zmodyfikowano badanie")
            {% elif action == 'Delete' %}
                alert("Usunięto badanie")
            {% endif %}


        </script>

        {% if messages %}
            <div id="errors">
                <p id="error-p">Błędy w formularzu:</p>
                {% for message in messages %}
                    {{message}}
                {% endfor %}
            </div>
        {% endif %}

        <div class="divider"></div>
        <div id="divider"></div>
        <div class="form-part-desc">1. Informacje o próbce </div>
        <div class="form-inner-wrapper">
            <div class="sample-field-wrapper">
                <label for="{{ form2.sampling.id_for_label }}"> {{ form2.sampling.label }} </label>
                {{ form2.sampling  }}
            </div>
        </div>


        <div id="divider"></div>
        <div class="form-part-desc">2. Badania </div>
        <div class="form-inner-wrapper">
            <div class="sample-field-wrapper">
                <label for="{{ form2.name.id_for_label }}">{{ form2.name.label }}</label>
                {{ form2.name  }}
            </div>
            <div class="sample-field-wrapper">
                <label for="{{ form2.marking.id_for_label }}">{{ form2.marking.label }}</label>
                {{ form2.marking }}
            </div>
        </div>
        <div class="form-inner-wrapper">
            <div id="bordered-div">
                <div class="sample-field-wrapper">
                    <label for="{{ form2.nutritional_value.id_for_label }}">{{ form2.nutritional_value.label }}</label>
                    {{ form2.nutritional_value }}
                </div>
                <div class="sample-field-wrapper">
                    <label for="{{ form2.specification.id_for_label }}">{{ form2.specification.label }}</label>
                    {{ form2.specification }}
                </div>
                <div class="sample-field-wrapper">
                    <label for="{{ form2.ordinance.id_for_label }}">{{ form2.ordinance.label }}</label>
                    {{ form2.ordinance }}
                </div>

                <div class="sample-field-wrapper">
                    <label for="{{ form2.samples_number.id_for_label }}">{{ form2.samples_number.label }}</label>
                    {{ form2.samples_number }}
                </div>
                <div class="sample-field-wrapper">
                    <label for="{{ form2.result.id_for_label }}">{{ form2.result.label }}</label>
                    {{ form2.result }}
                </div>
                <div class="sample-field-wrapper">
                    <label for="{{ form2.start_date.id_for_label }}">{{ form2.start_date.label }}</label>
                    {{ form2.start_date }}
                </div>
                <div class="sample-field-wrapper">
                    <label for="{{ form2.research_completion_date.id_for_label }}">{{ form2.research_completion_date.label }}</label>
                    {{ form2.research_completion_date }}
                </div>
                <div class="sample-field-wrapper">
                    <label for="{{ form2.status.id_for_label }}">{{ form2.status.label }}</label>
                     {{ form2.status }}
                </div>
                <div class="sample-field-wrapper">
                    <label for="{{ form2.uncertainty.id_for_label }}">{{ form2.uncertainty.label }}</label>
                    {{ form2.uncertainty }}
                </div>
            </div>
        </div>
        <div class="form-inner-wrapper">
            <div class="sample-field-wrapper">
                <label for="{{ form2.requirementsType.id_for_label }}"> {{ form2.requirementsType.label }} </label>
                {{ form2.requirementsType }}
            </div>
            <div class="sample-field-wrapper">
                <label for="{{ form2.requirements.id_for_label }}">{{ form2.requirements.label }}</label>
                {{ form2.requirements }}
            </div>
            <div class="sample-field-wrapper">
                <label for="{{ form2.unit.id_for_label }}">{{ form2.unit.label }}</label>
                {{ form2.unit }}
            </div>
        </div>
        <div id="divider"></div>
        <div class="form-part-desc">3. Podsumowanie </div>
        <div class="form-inner-wrapper">
            <div class="sample-field-wrapper">
                <label for="{{ form2.summary_meet_requirements.id_for_label }}">{{ form2.summary_meet_requirements.label }}</label>
                {{ form2.summary_meet_requirements  }}
            </div>
            <div class="sample-field-wrapper">
                <label for="{{ form2.summary_requirements_explains.id_for_label }}">{{ form2.summary_requirements_explains.label }}</label>
                {{ form2.summary_requirements_explains }}
            </div>
        </div>

        <input type="submit" id="submit-button" value="zatwierdź" class="btn-primary"/>

    </form>
</section>

{% else %}
    <div id="beautiful_text">
        Nie masz uprawnień, do modyfikowania badań.
    </div>
{% endif %}
{% endblock %}