{% extends 'basic.html' %}

{% block title %}
    <title>dodaj próbkę</title>
    <style>
        .form-part-desc{
            font-size: 26px;
        }

        #sample-form{
            width: 65vw;
            padding: 2vw;
            background-color: #c8d4ff;
            margin: 100px auto auto;
            text-align: center;
            border-radius: 20px;
            -webkit-box-shadow: 4px 7px 15px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 4px 7px 15px 0px rgba(0,0,0,0.75);
            box-shadow: 4px 7px 15px 0px rgba(0,0,0,0.75);
        }

    .sample-field-wrapper{
        margin: 15px 15px 30px 15px;
        display: block;
        width: 220px;
    }

    .sample-field-wrapper-form2{
        margin: 15px 15px 30px 20%;
        display: block;
        width: 220px;
    }

    .sample-field-wrapper > *, .sample-field-wrapper-form2 > *{
        text-align: left;
        display: block;
        width: 100%;
    }

    textarea{
        max-height: 70px;
    }

    #sample-dates-form > *{
        display: inline-block;
    }

    #sample-dates-form{
        border-top: #2b29ff 1px solid;
        border-bottom: #2b29ff 1px solid;
    }

    @media(max-width: 870px){
        #divider-form1-inner{
            width: 0px;
        }
    }

    @media(min-width: 871px){
        #divider-form1-inner{
            width: 1px;
            height: 280px;
            display: inline-block;
            background-color: #2b29ff;
        }
        .form1-last-part-inner{
            display: inline-block;
        }
    }


    .divider{
        width: 90%;
        height: 3px;
        background-color: #2b29ff;
        margin: 30px auto 30px auto;
    }

    .form-part-title{
        margin-top: 20px;
        text-align: left;
        margin-left: 20%;
        font-size: 20px;
    }

    .form-inner-wrapper > * > *{
        display: inline-block;
    }

    .form-inner-wrapper > *{
        display: inline-block;
    }

    .form-inner-wrapper > #bordered-div{
        border-bottom: #2b29ff 1px solid;
    }

    .submit-button{
        font-size: 24px;
    }

    #find-sample{
        display: none;
    }

    #errors *{
        list-style: none;
        text-align: left;
        color: red;
        font-size: 20px;
    }

    </style>
{% endblock %}

{% block content %}
{% if "samples.can_operate_on_sampling" in perms %}

<section id="sample-form">
    <form id="add_sample" class="login_container" method="POST"> {% csrf_token %}

        <div class="form-part-desc"> 0. Wybór trybu </div>
        <div class="sample-field-wrapper" onchange="mode_change()">
            <label for="{{ form0.mode_name.id_for_label }}" > {{ form0.mode_name.label }} </label>
            {{ form0.mode_name }}
        </div>
        <div class="sample-field-wrapper" id="find-sample">
            <label for="{{ form2.sampling.id_for_label }}">{{ form2.sampling.label }} </label>
                {{ form2.sampling  }}
        </div>
        <input id="reset-form" type="reset" name="reset" onclick="resetForm()" value="Resetuj formularz" class="btn-primary submit-button">

        <script>
            window.onload = function(){
                mode_change();
                setSubmitButtonText();
                document.getElementById("id_mode_name").addEventListener("change", () => {
                    setSubmitButtonText();
                });
                document.getElementById("find-sample").addEventListener("change", () => {
                    getData();
                })
            }

            function setSubmitButtonText() {
                let text = document.getElementById("id_mode_name").value;
                if(text == "Add"){
                    document.getElementById("submit-button").value = "Dodaj";
                    document.getElementById("add_sample").setAttribute("onsubmit", "return')")

                }
                else if(text == "Edit"){
                    document.getElementById("submit-button").value = "Modyfikuj";
                    document.getElementById("add_sample").setAttribute("onsubmit", "return confirm('Uwaga! modyfikując tą próbkę zmieniasz ją w bazie bezpowrotnie. Czy chcesz kontynuować?')")
                }
                else{
                    document.getElementById("submit-button").value = "Usuń";
                    document.getElementById("add_sample").setAttribute("onsubmit", "return confirm('Uwaga! Usuwanie danych z bazy jest bezpowrotne. Czy chcesz kontynuować?')")

                }
            }

            function resetForm() {
                document.getElementById("find-sample").style.display = "none";
                document.getElementById("id_sampling").selectedIndex = 0;
                document.getElementById("id_sampling").disabled = true;
                document.getElementById("find-sample").style.display = "none";
                document.getElementById("submit-button").value = "Dodaj";
            }

            function getData() {
                if(document.getElementById("id_sampling").value === ""){
                    return;
                }

                if(document.getElementById("id_mode_name").value !== "Add") {
                    console.log(document.getElementById("id_sampling").value)

                    let csrfValue = document.getElementsByName("csrfmiddlewaretoken")[0].value;
                    fetch("/sample_add/", {
                        method: "Post",
                        headers: {
                            "X-CSRFToken": csrfValue,
                            "X-Requested-With": "XMLHttpRequest",
                        },
                        body: document.getElementById("id_sampling").value,

                    }).then(function (response) {
                        return response.json();
                    }).then(function (data) {
                        for (var x in data) {
                            if (document.getElementById("id_" + x))
                                document.getElementById("id_" + x).value = data[x];
                        }
                        document.getElementById("id_" + "appeal_analysis").checked = data["appeal_analysis"];
                        document.getElementById("id_" + "final_consumer").checked = data["final_consumer"];
                    }).catch((error) => {
                        console.error("Error", error);
                    })
                }
            }

            document.getElementById("id_sampling").disabled = true;


            function mode_change(){
                var text = document.getElementById("id_mode_name").value;
                console.log(text)
                if(text === "Add"){
                    document.getElementById("find-sample").style.display = "none";
                    document.getElementById("id_sampling").selectedIndex = 0;
                    document.getElementById("id_sampling").disabled = true;
                }
                else {
                    document.getElementById("find-sample").style.display = "block";
                    document.getElementById("id_sampling").disabled = false;
                }
            }

            {% if messages %}
                alert("Wystąpiły błędy przy wypełnianiu formularza. Informacje będą podane na górze formularza")
            {% endif %}

            {% if action == 'Add' %}
                alert("Dodano próbkę")
            {% elif action == 'Edit' %}
                alert("Zmodyfikowano próbkę")
            {% elif action == 'Delete' %}
                alert("Usunięto próbkę")
            {% endif %}

        </script>
        {% if messages %}
            <div id="errors">
                <p id="error-p">Błędy w formularzu:</p>
                {% for message in messages %}
                    {{message}}
                {% endfor %}
            </div>
        {% endif %}

        <div class="divider"></div>
        <div class="form-part-desc">1. Dane o Próbce</div>
        <div class="sample-field-wrapper">
            <label for="{{ form1.number.id_for_label }}"> {{ form1.number.label }} </label>
            {{ form1.number }}
        </div>
        <div class="sample-field-wrapper">
            <label for="{{ form1.code.id_for_label }}"> {{ form1.code.label }} </label>
            {{ form1.code }}
        </div>
        <div class="sample-field-wrapper">
            <label for="{{ form1.WIJHARS.id_for_label }}">{{ form1.WIJHARS.label }} </label>
            {{ form1.WIJHARS }}
        </div>
        <div class="sample-field-wrapper">
            <label for="{{ form1.assortment.id_for_label }}"> {{ form1.assortment.label }} </label>
            {{ form1.assortment }}
        </div>
        <div id="sample-dates-form">
            <div class="sample-field-wrapper">
                <label for="{{ form1.admission_date.id_for_label }}"> {{ form1.admission_date.label }} </label>
                {{ form1.admission_date }}
            </div>
            <div class="sample-field-wrapper">
                <label for="{{ form1.expiration_date.id_for_label }}"> {{ form1.expiration_date.label }} </label>
                {{ form1.expiration_date }}
            </div>
            <div class="sample-field-wrapper">
                <label for="{{ form1.completion_date.id_for_label }}"> {{ form1.completion_date.label }} </label>
                {{ form1.completion_date }}
            </div>
            <div class="sample-field-wrapper">
                <label for="{{ form1.additional_comment.id_for_label }}"> {{ form1.additional_comment.label }} </label>
                {{ form1.additional_comment }}
            </div>
        </div>
        <div id="form1-last-part">
            <div class="form1-last-part-inner">
                <div class="sample-field-wrapper">
                    <label for="{{ form1.customer_name.id_for_label }}"> {{ form1.customer_name.label }} </label>
                    {{ form1.customer_name }}
                </div>
                <div class="sample-field-wrapper">
                    <label for="{{ form1.size.id_for_label }}"> {{ form1.size.label }} </label>
                    {{ form1.size }}
                </div>
                <div class="sample-field-wrapper">
                    <label for="{{ form1.condition.id_for_label }}"> {{ form1.condition.label }} </label>
                    {{ form1.condition }}
                </div>
                <div class="sample-field-wrapper">
                    <label for="{{ form1.appeal_analysis.id_for_label }}"> {{ form1.appeal_analysis.label }} </label>
                    {{ form1.appeal_analysis }}
                </div>
            </div>
            <div id="divider-form1-inner"></div>
            <div class="form1-last-part-inner">
                <div class="sample-field-wrapper">
                    <label for="{{ form1.control_type.id_for_label }}"> {{ form1.control_type.label }} </label>
                    {{ form1.control_type }}
                </div>
                <div class="sample-field-wrapper">
                    <label for="{{ form1.sampling_method.id_for_label }}">{{ form1.sampling_method.label }} </label>
                    {{ form1.sampling_method }}
                </div>
                <div class="sample-field-wrapper">
                    <label for="{{ form1.type.id_for_label }}"> {{ form1.type.label }} </label>
                    {{ form1.type }}
                </div>
            </div>
        </div>
        <div class="form-inner-wrapper">
            <div class="sample-field-wrapper">
                <label for="{{ form1.type_of_package.id_for_label }}"> {{ form1.type_of_package.label }} </label>
                {{ form1.type_of_package }}
            </div>
            <div class="sample-field-wrapper">
                <label for="{{ form1.collection_date.id_for_label }}"> {{ form1.collection_date.label }} </label>
                {{ form1.collection_date }}
            </div>
            <div class="sample-field-wrapper">
                <label for="{{ form1.recipient.id_for_label }}"> {{ form1.recipient.label }} </label>
                {{ form1.recipient }}
            </div>
        </div>
        <div class="divider"></div>
        <div class="form-part-desc">2. Dane identyfikacyjne partii</div>

        <div class="form-inner-wrapper">
            <div class="sample-field-wrapper">
                <label for="{{ form1.batch_size.id_for_label }}"> {{ form1.batch_size.label }} </label>
                {{ form1.batch_size }}
            </div>
            <div class="sample-field-wrapper">
                <label for="{{ form1.batch_number.id_for_label }}"> {{ form1.batch_number.label }} </label>
                {{ form1.batch_number }}
            </div>
            <div class="sample-field-wrapper">
                <label for="{{ form1.batch_production_date.id_for_label }}"> {{ form1.batch_production_date.label }} </label>
                {{ form1.batch_production_date }}
            </div>
        </div>

        <div class="divider"></div>
        <div class="form-part-desc">3. Dane z protokołu przyjęcia do laboratorium</div>
        <div class="form-part-title"> Producent</div>
        <div class="form-inner-wrapper">
            <div class="sample-field-wrapper">
                <label for="{{ form1.manufacturer_name.id_for_label }}"> {{ form1.manufacturer_name.label }} </label>
                {{ form1.manufacturer_name }}
            </div>
            <div class="sample-field-wrapper">
                <label for="{{ form1.manufacturer_address.id_for_label }}"> {{ form1.manufacturer_address.label }} </label>
                {{ form1.manufacturer_address }}
            </div>
        </div>
        <div class="form-part-title"> Pobierający próbki (dwie osoby)</div>
        <div class="form-inner-wrapper">
            <div id="bordered-div">
                <div class="sample-field-wrapper">
                    <label for="{{ form1.sample_getter1_name.id_for_label }}"> {{ form1.sample_getter1_name.label }} </label>
                    {{ form1.sample_getter1_name }}
                </div>
                <div class="sample-field-wrapper">
                    <label for="{{ form1.sample_getter1_surname.id_for_label }}"> {{ form1.sample_getter1_surname.label }} </label>
                    {{ form1.sample_getter1_surname }}
                </div>
                <div class="sample-field-wrapper">
                    <label for="{{ form1.sample_getter1_position.id_for_label }}"> {{ form1.sample_getter1_position.label }} </label>
                    {{ form1.sample_getter1_position }}
                </div>
            </div>
            <div>
                <div class="sample-field-wrapper">
                    <label for="{{ form1.sample_getter2_name.id_for_label }}"> {{ form1.sample_getter2_name.label }}</label>
                    {{ form1.sample_getter2_name }}
                </div>
                <div class="sample-field-wrapper">
                    <label for="{{ form1.sample_getter2_surname.id_for_label }}"> {{ form1.sample_getter2_surname.label }} </label>
                    {{ form1.sample_getter2_surname }}
                </div>
                <div class="sample-field-wrapper">
                    <label for="{{ form1.sample_getter2_position.id_for_label }}"> {{ form1.sample_getter2_position.label }} </label>
                    {{ form1.sample_getter2_position }}
                </div>
            </div>
        </div>
        <div class="sample-field-wrapper-form2">
            <label for="{{ form1.manufacturer.id_for_label }}"> {{ form1.manufacturer.label }} </label>
            {{ form1.manufacturer }}
        </div>
        <div class="form-part-title">Odbiorca</div>
        <div class="form-inner-wrapper">
            <div class="sample-field-wrapper">
                <label for="{{ form1.final_consumer.id_for_label }}"> {{ form1.final_consumer.label }} </label>
                {{ form1.final_consumer }}
            </div>
            <div class="sample-field-wrapper">
                <label for="{{ form1.consumer_name.id_for_label }}"> {{ form1.consumer_name.label }} </label>
                {{ form1.consumer_name }}
            </div>
            <div class="sample-field-wrapper">
                <label for="{{ form1.consumer_address.id_for_label }}"> {{ form1.consumer_address.label }} </label>
                {{ form1.consumer_address }}
            </div>
        </div>
        <div class="sample-field-wrapper-form2">
            <label for="{{ form1.order_number.id_for_label }}"> {{ form1.order_number.label }} </label>
            {{ form1.order_number }}
        </div>
        <div class="sample-field-wrapper-form2">
            <label for="{{ form1.mechanism_name_and_symbol.id_for_label }}"> {{ form1.mechanism_name_and_symbol.label }} </label>
            {{ form1.mechanism_name_and_symbol }}
        </div>
        <div class="sample-field-wrapper-form2">
            <label for="{{ form1.sample_delivery.id_for_label }}"> {{ form1.sample_delivery.label }} </label>
            {{ form1.sample_delivery }}
        </div>
        <div class="form-inner-wrapper">
            <div class="sample-field-wrapper">
                <label for="{{ form1.agreement_number.id_for_label }}"> {{ form1.agreement_number.label }} </label>
                {{ form1.agreement_number }}
            </div>
            <div class="sample-field-wrapper">
                <label for="{{ form1.case_number.id_for_label }}"> {{ form1.case_number.label }} </label>
                {{ form1.case_number }}
            </div>
            <div class="sample-field-wrapper">
                <label for="{{ form1.delivery_date.id_for_label }}"> {{ form1.delivery_date.label }} </label>
                {{ form1.delivery_date }}
            </div>
        </div>
        <div class="divider"></div>
        <div class="form-part-desc">4. Podsumowanie</div>
        <div class="sample-field-wrapper-form2">
            <label for="{{ form1.is_OK.id_for_label }}"> {{ form1.is_OK.label }} </label>
            {{ form1.is_OK }}
        </div>
        <div class="sample-field-wrapper-form2">
            <label for="{{ form1.if_not_why.id_for_label }}"> {{ form1.if_not_why.label }} </label>
            {{ form1.if_not_why }}
        </div>
        <input id="submit-button" type="submit" value="zatwierdź" class="btn-primary submit-button"/>
    </form>
</section>


{% else %}
        Nie masz uprawnień, do modyfikowania próbek.
    {% endif %}
{% endblock %}